#top-nav-bar-container {
    display: flex;
    gap: var(--spacing);
    font-size: 20px;
    padding: var(--spacing);
    background-color: #232323;
}

.top-nav-item {
    cursor: pointer;
}

.top-nav-item.selected {
    border-bottom: 2px solid var(--primary-color);
}

.top-nav-item:hover {
    color: var(--foreground-hover);
}